@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
  justify-content: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 50px;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.input {
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="number"] {
  width: 15%;
  margin-left: auto;
  border: 1px solid #000;
  outline: none;
}

.right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  width: 50%;
  height: 50%;
  background-color: #ccc;
}

.result {
  width: 100%;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: #0a0d20;
  color: #fff;
  position: relative;
  margin-top: 20px;
  height: 60px;
}

.copy {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  cursor: pointer;
}

.result input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#000, #000);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #000;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="color"] {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
